body {
    background: rgb(70, 142, 236);
}

header {
    font: normal 13pt Arial;
    color: #FFFFFF;
    text-align: center;
}

section {
    background: #FFFFFF;
    border-radius: 3px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.479);
}

div {
    font: normal 14pt arial;
}

#container {
    text-align: center;
}

footer {
    color: #FFFFFF;
    text-align: center;
    font-style: italic;
}