body {
    background: rgb(95, 95, 228);
}

h1 {
    color: #FFFFFF;
    font: normal 3em arial;
    text-align: center;
}

section {
    width: 350px;
    margin: auto;
    color: #333333;
    background: #FFFFFF;
    font: normal 1em arial;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
}

input {
    border: 1px solid #ccc;
}

.btn {
    padding: 1px 10px;
}

.btn:hover {
    color: rgb(95, 95, 228);
}

#fselect {
    padding: 3px 10px;
    border: 1px solid #ccc;
    font-weight: 600;
}

footer {
    text-align: center;
    font: normal 15pt arial;
    font-style: italic;
    color: #FFFFFF;
    padding: 10px;
}