body {
    background: rgb(70, 142, 236);
}

header {
    font: normal 13pt Arial;
    color: #FFFFFF;
    text-align: center;
}

section {
    width: 500px;
    margin: auto;
    font: normal 13pt arial;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.479);
}

.btn-verificar {
    padding: 5px 15px;
    border-style: none;
    background: rgb(70, 142, 236);
    color: #FFFFFF;
    border-radius: 3px;
}

#res {
    text-align: center;
    letter-spacing: 1px;
    transition: 2s;
}


footer {
    font: normal 17pt Segoe UI;
    color: #FFFFFF;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin-top: 15px;
}